$icon-font-path:"../fonts/";

/*** Overridden values ***/

$navbar-inverse-color:#ffffff;
$navbar-inverse-bg:#008cba;
$navbar-inverse-link-color:#fff;
$navbar-inverse-link-hover-color:#eee;
$navbar-inverse-brand-hover-color:#eee;
$navbar-inverse-toggle-hover-bg:#333;
$navbar-inverse-toggle-icon-bar-bg:#fff;
$navbar-inverse-toggle-border-color:#333;

/*** Overridden values ***/

@import "../lib/bootstrap-sass-official/assets/stylesheets/bootstrap.scss";

body {
	min-height: 100%;
}

.starter {
	background-color: #2C1B2D;
}

.nav-cit-logo {
	padding-top: 20px;
}

.nav-cit-header {
	padding-top: 10px;
}

.header-int-logo {
	margin-top: -56px;
	height: 100vh;
	line-height: 100vh;
	vertical-align: middle;
}

.header-arrow-down {
    position: relative;
    bottom: 60px;
    line-height: normal;
}

.sidebar-cit-menu {
	position: absolute;
	right: 20px;
	top: 24px;
}

.sidebar-cit-menu button {
	// width: 48px;
	// height: 48px;
	font-size: 24px;
	background:none;
  border:none;
  box-shadow:none;
	color: white;
}

.sidebar {
	background-color: #E6DFE5;
}
